$brand-green: #d9ff98;
$brand-green-primary: #00b093;
$brand-green-secondary: #2bf0c7;

$brand-blue-primary: #007aff;

$chart-negative-primary: #f34a47;
$chart-negative-secondary: #ffcdd2;

$black-0: #000000;
$black-100: #13161e;
$black-200: #1c202a;
$black-300: #282c37;
$black-400: #727580;

$white-0: #ffffff;
$white-100: #f0f3fa;
$white-200: #e0e3eb;
$white-300: #cdd1da;

//Gradient
$juciy-linear: linear-gradient(
  180deg,
  #ffc2c2 0%,
  #ffd7a8 100%
);
