$brand-green: #D9FF98;
$brand-green-primary: #00B093;
$brand-green-secondary: #2BF0C7;

$brand-blue-primary: #007AFF;

$chart-negative-primary: #F34A47;
$chart-negative-secondary: #FFCDD2;

$black-0: #000000;
$black-100: #13161E;
$black-200: #1C202A;
$black-300: #282C37;
$black-400: #727580;

$white-0: #FFFFFF;
$white-100: #F0F3FA;
$white-200: #E0E3EB;
$white-300: #CDD1DA;